In [1]:
import datawig
import pandas as pd
from google.colab import files
import io
import statistics
import numpy as np

In [2]:
uploaded = files.upload()

Saving trainSet.txt to trainSet (2).txt

In [3]:
data = pd.read_csv(io.StringIO(uploaded["trainSet.txt"].decode("utf-8")), sep=",")

In [4]:
data = data.set_index("PatientID")
#data["Sex"] = data["Sex"].astype(str)
#data["Cough"] = data["Cough"].astype(str)
#data["DifficultyInBreathing"] = data["DifficultyInBreathing"].astype(str)
#data["RespiratoryFailure"] = data["RespiratoryFailure"].astype(str)
#data["CardiovascularDisease"] = data["CardiovascularDisease"].astype(str)

In [5]:
data

             ImageFile Hospital  ...  RespiratoryFailure  Prognosis
PatientID                        ...
P_131        P_131.png        D  ...                 NaN       MILD
P_132        P_132.png        D  ...                 NaN       MILD
P_195        P_195.png        D  ...                 NaN     SEVERE
P_193        P_193.png        D  ...                 NaN     SEVERE
P_140        P_140.png        D  ...                 NaN       MILD
...                ...      ...  ...                 ...        ...
P_1_12      P_1_12.png        F  ...                 0.0     SEVERE
P_1_8        P_1_8.png        F  ...                 0.0     SEVERE
P_1_10      P_1_10.png        F  ...                 0.0       MILD
P_1_26      P_1_26.png        F  ...                 0.0     SEVERE
P_1_146    P_1_146.png        F  ...                 0.0       MILD

[863 rows x 19 columns]

In [6]:
data.pop("ImageFile")
data.pop("Hospital")
data.pop("Prognosis")

PatientID
P_131        MILD
P_132        MILD
P_195      SEVERE
P_193      SEVERE
P_140        MILD
            ...
P_1_12     SEVERE
P_1_8      SEVERE
P_1_10       MILD
P_1_26     SEVERE
P_1_146      MILD
Name: Prognosis, Length: 863, dtype: object

In [7]:
data_stdiv = data.std()

In [8]:
data_stdiv

Age                        15.052354
Sex                         0.473027
Temp_C                      0.970634
Cough                       0.500225
DifficultyInBreathing       0.500283
WBC                         3.532203
CRP                        66.927036
Fibrinogen                158.364728
LDH                       235.221008
Ddimer                   6743.128329
Ox_percentage               7.000610
PaO2                       26.114734
SaO2                        8.238277
pH                          0.056283
CardiovascularDisease       0.447907
RespiratoryFailure          0.124108
dtype: float64

In [9]:
df_train, df_test = datawig.utils.random_split(data)

In [10]:
def score(data_in):
  names = data_in.columns
  imputed_data = data_in[names[-1]]
  gt_name = names[-1][0:-8]
  ground_truth = data_in[gt_name]
  score = (((imputed_data-ground_truth)/ data_stdiv[gt_name])**2)
  score_1 = []
  for i, value in enumerate(list(score)):
    if not np.isnan(value):
      score_1.append(min([value, 1]))

  score = statistics.mean(score_1)

  return score

In [11]:
score_all = []
imputed_data = pd.DataFrame()
categoricals = ["Sex", "Cough", "DifficultyInBreathing", "RespiratoryFailure", "CardiovascularDisease"]

for i in range(len(data.columns)):
  print(i)
  input_columns = list(data.columns)
  input_columns.pop(i)
  output_columns = data.columns[i]
  
  imputer = datawig.SimpleImputer(
      input_columns=input_columns, # column(s) containing information about the column we want to impute
      output_column= output_columns, # the column we'd like to impute values for
      )
  imputer.fit(train_df=df_train, num_epochs=50)
  imputed = imputer.predict(df_test)
  imputed_train = imputer.predict(data)
  if output_columns in categoricals:
    imputed[imputed.columns[-1]] = imputed[imputed.columns[-1]].astype(int)
    imputed_train[imputed_train.columns[-1]] = imputed_train[imputed_train.columns[-1]].astype(int)
  imputed_data[output_columns] = imputed_train[imputed_train.columns[-1]]
  score_all.append(score(imputed))

0

2021-04-28 16:08:36,026 [INFO]
========== start: fit model
2021-04-28 16:08:36,029 [WARNING]  Already bound, ignoring bind()
2021-04-28 16:08:36,066 [INFO]  Epoch[0] Batch [0-20]	Speed: 11314.36 samples/sec	cross-entropy=14.350975	Age-accuracy=0.000000
2021-04-28 16:08:36,099 [INFO]  Epoch[0] Train-cross-entropy=13.515664
2021-04-28 16:08:36,101 [INFO]  Epoch[0] Train-Age-accuracy=0.000000
2021-04-28 16:08:36,103 [INFO]  Epoch[0] Time cost=0.069
2021-04-28 16:08:36,112 [INFO]  Saved checkpoint to "age/model-0000.params"
2021-04-28 16:08:36,121 [INFO]  Epoch[0] Validation-cross-entropy=13.678425
2021-04-28 16:08:36,125 [INFO]  Epoch[0] Validation-Age-accuracy=0.000000
2021-04-28 16:08:36,161 [INFO]  Epoch[1] Batch [0-20]	Speed: 11221.84 samples/sec	cross-entropy=11.498455	Age-accuracy=0.000000
2021-04-28 16:08:36,189 [INFO]  Epoch[1] Train-cross-entropy=11.378387
2021-04-28 16:08:36,190 [INFO]  Epoch[1] Train-Age-accuracy=0.000000
2021-04-28 16:08:36,197 [INFO]  Epoch[1] Time cost=0.067
2021-04-28 16:08:36,203 [INFO]  Saved checkpoint to "age/model-0001.params"
2021-04-28 16:08:36,211 [INFO]  Epoch[1] Validation-cross-entropy=13.521223
2021-04-28 16:08:36,213 [INFO]  Epoch[1] Validation-Age-accuracy=0.000000
2021-04-28 16:08:36,247 [INFO]  Epoch[2] Batch [0-20]	Speed: 12421.82 samples/sec	cross-entropy=10.537669	Age-accuracy=0.000000
2021-04-28 16:08:36,274 [INFO]  Epoch[2] Train-cross-entropy=10.584121
2021-04-28 16:08:36,276 [INFO]  Epoch[2] Train-Age-accuracy=0.000000
2021-04-28 16:08:36,281 [INFO]  Epoch[2] Time cost=0.064
2021-04-28 16:08:36,288 [INFO]  Saved checkpoint to "age/model-0002.params"
2021-04-28 16:08:36,294 [INFO]  Epoch[2] Validation-cross-entropy=13.864627
2021-04-28 16:08:36,297 [INFO]  Epoch[2] Validation-Age-accuracy=0.000000
2021-04-28 16:08:36,330 [INFO]  Epoch[3] Batch [0-20]	Speed: 12035.74 samples/sec	cross-entropy=10.095689	Age-accuracy=0.000000
2021-04-28 16:08:36,361 [INFO]  Epoch[3] Train-cross-entropy=10.184185
2021-04-28 16:08:36,362 [INFO]  Epoch[3] Train-Age-accuracy=0.000000
2021-04-28 16:08:36,369 [INFO]  Epoch[3] Time cost=0.070
2021-04-28 16:08:36,375 [INFO]  Saved checkpoint to "age/model-0003.params"
2021-04-28 16:08:36,382 [INFO]  Epoch[3] Validation-cross-entropy=14.202596
2021-04-28 16:08:36,385 [INFO]  Epoch[3] Validation-Age-accuracy=0.000000
2021-04-28 16:08:36,418 [INFO]  Epoch[4] Batch [0-20]	Speed: 12275.71 samples/sec	cross-entropy=9.784579	Age-accuracy=0.000000
2021-04-28 16:08:36,445 [INFO]  Epoch[4] Train-cross-entropy=9.884219
2021-04-28 16:08:36,446 [INFO]  Epoch[4] Train-Age-accuracy=0.000000
2021-04-28 16:08:36,449 [INFO]  Epoch[4] Time cost=0.060
2021-04-28 16:08:36,454 [INFO]  Saved checkpoint to "age/model-0004.params"
2021-04-28 16:08:36,462 [INFO]  Epoch[4] Validation-cross-entropy=14.404181
2021-04-28 16:08:36,465 [INFO]  Epoch[4] Validation-Age-accuracy=0.000000
2021-04-28 16:08:36,496 [INFO]  Epoch[5] Batch [0-20]	Speed: 12219.50 samples/sec	cross-entropy=9.504579	Age-accuracy=0.000000
2021-04-28 16:08:36,533 [INFO]  Epoch[5] Train-cross-entropy=9.614953
2021-04-28 16:08:36,538 [INFO]  Epoch[5] Train-Age-accuracy=0.000000
2021-04-28 16:08:36,539 [INFO]  Epoch[5] Time cost=0.072
2021-04-28 16:08:36,548 [INFO]  Saved checkpoint to "age/model-0005.params"
2021-04-28 16:08:36,554 [INFO]  No improvement detected for 5 epochs compared to 13.67842502593994 last error obtained: 14.82279577255249, stopping here
2021-04-28 16:08:36,556 [INFO]
========== done (0.5320906639099121 s) fit model

1
2

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)

3
4
5
6
7

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)

8
9
10
11
12
13
14
15

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)

In [12]:
score_all

[0.4799175278977462,
 0.36627906976744184,
 0.5156706367446574,
 0.5116279069767442,
 0.47093023255813954,
 0.46316853237788536,
 0.34166156779847656,
 0.4150217872311786,
 0.30055195859163264,
 0.23045086766351514,
 0.34948065826608576,
 0.31126989219888795,
 0.30828362367551787,
 0.40003566667709756,
 0.23809523809523808,
 0.013888888888888888]

In [13]:
imputed_data

                 Age  Sex  ...  CardiovascularDisease  RespiratoryFailure
PatientID                  ...
P_131      51.692888    0  ...                      0                   0
P_132      63.693653    0  ...                      0                   0
P_195      73.742816    0  ...                      0                   0
P_193      60.016046    0  ...                      0                   0
P_140      59.632027    0  ...                      0                   0
...              ...  ...  ...                    ...                 ...
P_1_12     64.254067    0  ...                      0                   0
P_1_8      56.996852    0  ...                      0                   0
P_1_10     59.234502    0  ...                      0                   0
P_1_26     75.003548    0  ...                      0                   0
P_1_146    79.887675    0  ...                      0                   0

[863 rows x 16 columns]

In [14]:
data

                 Age  Sex  ...  CardiovascularDisease  RespiratoryFailure
PatientID                  ...
P_131      35.913889    0  ...                    0.0                 NaN
P_132      57.266667    0  ...                    0.0                 NaN
P_195      79.263889    0  ...                    1.0                 NaN
P_193      82.000000    0  ...                    0.0                 NaN
P_140      60.791667    1  ...                    0.0                 NaN
...              ...  ...  ...                    ...                 ...
P_1_12     51.000000    0  ...                    0.0                 0.0
P_1_8      57.000000    0  ...                    0.0                 0.0
P_1_10     38.000000    0  ...                    0.0                 0.0
P_1_26     92.000000    1  ...                    0.0                 0.0
P_1_146    80.000000    0  ...                    1.0                 0.0

[863 rows x 16 columns]

In [15]:
new_data = pd.DataFrame()
for i in range(data.shape[1]):
  column = data.columns[i]
  indexes_nan = np.argwhere(np.isnan(data[column]))
  new_data_column = data[column]
  imputed_data_column = imputed_data[column]
  new_data_column[np.isnan(new_data_column)] = imputed_data_column[np.isnan(new_data_column)]
  new_data[column] = new_data_column

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:58: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return bound(*args, **kwds)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [16]:
new_data

                 Age  Sex  ...  CardiovascularDisease  RespiratoryFailure
PatientID                  ...
P_131      35.913889    0  ...                    0.0                 0.0
P_132      57.266667    0  ...                    0.0                 0.0
P_195      79.263889    0  ...                    1.0                 0.0
P_193      82.000000    0  ...                    0.0                 0.0
P_140      60.791667    1  ...                    0.0                 0.0
...              ...  ...  ...                    ...                 ...
P_1_12     51.000000    0  ...                    0.0                 0.0
P_1_8      57.000000    0  ...                    0.0                 0.0
P_1_10     38.000000    0  ...                    0.0                 0.0
P_1_26     92.000000    1  ...                    0.0                 0.0
P_1_146    80.000000    0  ...                    1.0                 0.0

[863 rows x 16 columns]